extends layout
block append scripts
    script(src='/my.js')
    script.
        $(document).ready(function(){ 
            $(document).ajaxSend(function(){
                $('a').click(function(){ return false; });
                });
            $(document).ajaxComplete(function(){
                $('a').unbind();
                });
            for(var i=2;i<9;i++){
               mazeShow(i);
            }
            userInfo();
        });
block content
    //div#navfirst
    //div#navsecond
    div#sidebar
        div#userinfo
            //h2#username username
            h3#nickname nickname
            ul
                li LV:
                    span#level level
                li 金:
                    span#coins coins
                li 钻:
                    span#cash cash
                li 体:
                    span#energy energy
    div#actions
        ul
            li
                button(onclick='javascript:asyncMapstageDefend();') 地图保卫
            li
                button(onclick='javascript:asyncDungeonSweep();') 扫荡地宫
            //li
            //    button(onclick='javascript:asyncMapstageDefend();' disabled='disabled') 自动地宫
            li
                button(onclick='javascript:asyncMapstageDefend();' disabled='disabled') 收回体力
            li
                button(onclick='javascript:alert("待实现");' disabled='disabled') 一键团战
            //li
            //    button(onclick='javascript:asyncMapstageDefend();' disabled='disabled') 一键探索
            //li
            //    button(onclick='javascript:asyncMapstageDefend();' disabled='disabled') 自动打贼
    div#maincontent
        div
            table#mazes
                tr
                    th 迷宫
                    //th 名称
                    th 是否通关
                    th 免费重置
                    th 重置花费
                    th 一键
                    th 操作
                - for(var i=2;i<9;i++)
                    tr
                        td #{i}塔
                        //td
                        //    label(id = "lblMazeName#{ i }") 名称
                        td
                            label(id = "lblMazeIsClear#{ i }") 否
                        td
                            label(id = "lblMazeFreeReset#{ i }") 0
                        td
                            label(id = "lblMazeResetCash#{ i }") 0
                        td
                            a(href='javascript:syncMazeBattleAll(#{ i });') 全刷
                            a(href='javascript:syncMazeBattleBox(#{ i });') 宝箱
                        td
                            a(href='javascript:mazeReset(#{ i });') 重置
                            a(href='javascript:mazeInfos(#{ i });') 详情
    div#console
        div#consoleTitle
            h3#consoleTitle 控制台日志
        div#consoleLog
            div#logContent
