extends layout
block append scripts
    //script.
        $(document).ready(function(){
            for(var i=2;i<9;i++){
                $.get("/mazeInfo/"+i,function(data,status){
                    alert(i);
                    $('#tdStatus'+ i).text(data);
                });
            }
        });
    script.
        $(document).ready(function(){
            for(var i=2;i<9;i++){
               (function(mapStageId){
                   $.get("/mazeInfo/"+ mapStageId,function(data,status){
                   data = JSON.parse(data);
                   $('#lblMazeName'+ mapStageId).text(data.Name);
                   $('#lblMazeIsCleared'+ mapStageId).text(data.Clear);
                   $('#lblMazeFreeReset'+ mapStageId).text(data.FreeReset);
                   $('#lblMazeResetCash'+ mapStageId).text(data.ResetCash);
                });
               })(i);
            }
        });
block content
    h1= "魔卡幻想一键"
    div
        p
            table
                tr
                    th 迷宫
                    th 名称
                    th 是否通关
                    th 免费重置
                    th 重置花费
                    th 操作
                - for(var i=2;i<9;i++)
                    tr
                        td #{i}塔
                        td
                            label(id = "lblMazeName#{ i }") 名称
                        td
                            label(id = "lblMazeIsCleared#{ i }") 否
                        td
                            label(id = "lblMazeFreeReset#{ i }") 0
                        td
                            label(id = "lblMazeResetCash#{ i }") 0
                        td
                            button 一键
                            button 重置

    div
        p #{info}
