extends layout
block append scripts
    script(src='/my.js')
    script.
        $(document).ready(function(){ 
            $(document).ajaxSend(function(){
                $('button').attr('disabled',true);
                });
            $(document).ajaxComplete(function(){
                $('button').attr('disabled',false);
                });
            for(var i=2;i<9;i++){
               mazeShow(i);
            }
        });
block content
    div#navfirst
    div#navsecond
    div#sidebar
    div#maincontent
        div
            table#mazes
                tr
                    th 迷宫
                    th 名称
                    th 是否通关
                    th 免费重置
                    th 重置花费
                    th 一键
                    th 操作
                - for(var i=2;i<9;i++)
                    tr
                        td #{i}塔
                        td
                            label(id = "lblMazeName#{ i }") 名称
                        td
                            label(id = "lblMazeIsCleared#{ i }") 否
                        td
                            label(id = "lblMazeFreeReset#{ i }") 0
                        td
                            label(id = "lblMazeResetCash#{ i }") 0
                        td
                            button(onclick='syncMazeBattleAll(#{ i });') 全刷
                            button(onclick='syncMazeBattleBox(#{ i });') 宝箱
                        td
                            button 重置
                            button(onclick='mazeInfos(#{ i });') 详情
    div#console
        h3#consoleTitle 控制台日志
        div#consoleLog
            dl#info
                if info
                    p #{info}
